* {
    font-size: 16px;
    font-family: sans-serif;
}
h1 {
    color: #3ca4c8;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: -2px;
}

ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}
form {
    margin: 0 50%;
    transform: translateX(-50%);
}

main {
    text-align: center;
    height: 350px;
    background-image: url(/media/hackapez.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 30px;
}
ul.links {
    display: inline;
}
footer li:first-child::before {
    max-width: 20px;
    content: url(/media/_ionicons_svg_logo-github.svg)
}
footer li:nth-child(2)::before {
    content: url(/media/_ionicons_svg_logo-linkedin.svg)
}


#calculator {
    width: 300px;
    height: 220px;
    background-color: #1a1c1b;
    border-radius: 20px;
    border: 10px solid black;
}

#calculator div output {
    font-size: 1.5rem;
    vertical-align: middle;
}

#display {
    margin: 20px 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    background-color: rgba(188, 218, 229, 0.801);
    text-align: right;
    letter-spacing: 2px;
    vertical-align: middle;
    width: 70%;
    height: 40px;
}

#btn-actions {
}

#btn-actions li {
    display: inline-block;
}
#btn-operators {
    width: 100%;
    align-content: center;
    justify-content: center;
}
#btn-operators li {
    align-self: center;
}

#btn-actions button {
    background-color: rgb(40, 68, 39);
}


#btn-operators #btn-reset {
    background-color: rgb(40, 68, 39);
}

button {
    border-width: 1px;
    color: white;
    border-radius: 10px;
}

#btn-nums button {
    background-color: rgb(80, 82, 82);
}



#btn-operators button {
    background-color: #222121;
}


.btn-square {
}


li {
    padding: 5px;
}
#btn-0 {
    flex: 1 1 75px;
    margin-left: 5px;
}
#btn-0 button {
    width: 100%;
}

.btn-num {
    width: 30px;
    height: 30px;
}